---
// Experience
// ------------
// Description: A component that displays a feed of experience items.
// Properties:
// - data: An array of experience objects (required, any[])
// - classes: Optional classes for the feed (string)

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Feed from '../../ui/Feeds/ExperienceFeed.astro'

// Content
// - Props
// Props
type Props = {
	data: Array<{
		title: string
		date?: string
		company?: string
		location?: string
		text?: string
	}>
	classes?: string
	headingClasses?: string
}
const { data, classes, headingClasses } = Astro.props
---

<Section id="experience">
	<Row>
		<Col span="2" spanMobile="4">
			<h2 classes={headingClasses}>Experience</h2>
		</Col>
		<Col span="10" spanMobile="4">
			<Feed data={data} classes={classes} />
		</Col>
	</Row>
</Section>
