---
// Card body
// ------------
// Description: A container for the main content of the card.
// Properties:
// - classes: Additional classes (optional, string)

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<div class:list={['card__body', { [`${classes}`]: classes }]}>
	<slot />
</div>

<style>
	.card__body {
		@apply p-6;
	}
</style>
