---
// Title Text
// ------------
// Description: A component that displays a title and two columns of text content.
// Properties:
// - title: The main title (required, string)
// - id: Optional ID for the section (string)
// - classes: Optional classes for the section (string)

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// Content
// - Props
type Props = {
	title: string
	id?: string
	classes?: string
	headingClasses?: string
}
const { title, id, classes, headingClasses } = Astro.props
---

<Section id && id={id} classes={classes}>
	<Row>
		<Col span="2">
			<h2 class={headingClasses}>{title}</h2>
		</Col>
		<Col span="10" classes="text-lg leading-8">
			<slot name="firstColumn" />
		</Col>
		<Col span="5" classes="text-lg leading-8">
			<slot name="secondColumn" />
		</Col>
	</Row>
</Section>
