---
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// Content
// - Props
type Props = {
	title: string
	id?: string
	classes?: string
}
const { title, id, classes } = Astro.props
---

<Section id && id={id} classes={classes}>
	<Row>
		<Col span="2">
			<h2 class="text-2xl">{title}</h2>
		</Col>
		<Col span="5">
			<slot name="firstColumn" />
		</Col>
		<Col span="5">
			<slot name="secondColumn" />
		</Col>
	</Row>
</Section>
