---
// Components
// - Layout
import Layout from '../layouts/LayoutDesign.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
// - UI
import Button from '../components/ui/Button.astro'

// Content
// - SEO
const SEO = {
	title: 'Oops! Milo Missed a Beat - Page Not Found',
	description:
		"Looks like we hit a wrong note and couldn't find the page. Don’t worry, let’s get you back in tune with Milo!"
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Section>
		<Row flex classes="text-center">
			<Col span="2" />
			<Col span="8">
				<svg
					class="h-60 w-full lg:h-96"
					width="445"
					height="358"
					viewBox="0 0 445 358"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M164.982 228.373H151.87V251.421H120.108V228.373H72.627V204.754L122.144 132.352H151.871V204.347H164.983V228.373H164.982ZM120.108 204.347V190.502C120.108 187.896 120.202 184.382 120.393 179.955C120.582 175.531 120.731 173.209 120.841 172.992H119.945C118.099 177.173 116.008 181.083 113.674 184.72L100.48 204.347H120.108Z"
						fill="#EFC403"
						class="fill-primary-500"></path>
					<path
						d="M259.373 192.049C259.373 213.116 255.843 228.549 248.786 238.35C241.728 248.15 230.922 253.049 216.373 253.049C202.147 253.049 191.424 247.933 184.203 237.697C176.981 227.464 173.371 212.246 173.371 192.048C173.371 170.873 176.9 155.346 183.959 145.463C191.016 135.582 201.822 130.641 216.373 130.641C230.544 130.641 241.253 135.786 248.501 146.074C255.749 156.365 259.373 171.688 259.373 192.049ZM205.377 192.049C205.377 205.515 206.218 214.772 207.902 219.821C209.584 224.87 212.408 227.395 216.372 227.395C220.389 227.395 223.225 224.789 224.882 219.576C226.538 214.364 227.366 205.189 227.366 192.049C227.366 178.856 226.524 169.611 224.842 164.318C223.158 159.024 220.334 156.378 216.372 156.378C212.408 156.378 209.584 158.931 207.902 164.033C206.218 169.137 205.377 178.475 205.377 192.049Z"
						fill="#EFC403"
						class="fill-primary-500"></path>
					<path
						d="M360.442 228.373H347.331V251.421H315.568V228.373H268.087V204.754L317.604 132.352H347.331V204.347H360.442V228.373ZM315.568 204.347V190.502C315.568 187.896 315.662 184.382 315.853 179.955C316.042 175.531 316.191 173.209 316.301 172.992H315.405C313.559 177.173 311.467 181.083 309.134 184.72L295.941 204.347H315.568Z"
						fill="#EFC403"
						class="fill-primary-500"></path>
					<path
						d="M24.9033 158.771H73.0403"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M84.5938 158.771H94.8698"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M16.1855 145.223H102.361"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M9.093 145.223H2"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M16.1855 132.352H44.7955"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M52.4561 132.352H112.541"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M365.162 266.259H416.674"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M425.052 266.259H432.503"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M375.449 252.71H442.956"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M370.305 252.71H365.162"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M365.162 239.839H396.194"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M401.748 239.839H425.052"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M171.147 227.917H158.035V250.965H126.273V227.917H78.792V204.298L128.309 131.896H158.036V203.891H171.148L171.147 227.917ZM126.272 203.891V190.046C126.272 187.44 126.366 183.926 126.557 179.499C126.746 175.075 126.895 172.753 127.005 172.536H126.109C124.263 176.717 122.172 180.627 119.838 184.264L106.644 203.891H126.272Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="3.2675"
						stroke-miterlimit="10"></path>
					<path
						d="M265.537 191.594C265.537 212.661 262.007 228.094 254.95 237.895C247.892 247.695 237.086 252.594 222.537 252.594C208.311 252.594 197.588 247.478 190.367 237.242C183.145 227.009 179.535 211.791 179.535 191.593C179.535 170.418 183.064 154.891 190.122 145.008C197.179 135.127 207.985 130.186 222.536 130.186C236.707 130.186 247.416 135.331 254.664 145.619C261.914 155.91 265.537 171.234 265.537 191.594ZM211.542 191.594C211.542 205.06 212.383 214.317 214.067 219.366C215.749 224.415 218.573 226.94 222.537 226.94C226.554 226.94 229.39 224.334 231.047 219.121C232.703 213.909 233.531 204.734 233.531 191.593C233.531 178.4 232.689 169.155 231.007 163.862C229.323 158.568 226.499 155.922 222.537 155.922C218.573 155.922 215.749 158.475 214.067 163.577C212.383 168.682 211.542 178.021 211.542 191.594Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="3.2675"
						stroke-miterlimit="10"></path>
					<path
						d="M366.607 227.917H353.495V250.965H321.733V227.917H274.252V204.298L323.769 131.896H353.496V203.891H366.608L366.607 227.917ZM321.733 203.891V190.046C321.733 187.44 321.827 183.926 322.018 179.499C322.207 175.075 322.356 172.753 322.466 172.536H321.57C319.724 176.717 317.632 180.627 315.299 184.264L302.106 203.891H321.733Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="3.2675"
						stroke-miterlimit="10"></path>
					<path
						d="M181.271 276.407C181.172 277.275 181.097 278.118 181.048 278.936C181.023 279.754 181.01 280.373 181.01 280.795C181.01 281.241 181.023 281.675 181.048 282.096C181.072 282.493 181.097 282.828 181.122 283.1H180.267C180.118 281.638 179.907 280.485 179.635 279.642C179.362 278.775 178.891 278.167 178.221 277.82C177.577 277.448 176.598 277.262 175.284 277.262H172.197C171.355 277.262 170.71 277.337 170.264 277.485C169.842 277.609 169.557 277.894 169.409 278.341C169.26 278.762 169.185 279.431 169.185 280.349V298.793C169.185 299.685 169.26 300.355 169.409 300.801C169.557 301.247 169.842 301.544 170.264 301.693C170.71 301.817 171.355 301.879 172.197 301.879H174.912C176.474 301.879 177.651 301.668 178.445 301.247C179.263 300.826 179.845 300.144 180.192 299.202C180.564 298.235 180.837 296.933 181.01 295.297H181.866C181.791 295.967 181.754 296.859 181.754 297.975C181.754 298.446 181.766 299.127 181.791 300.02C181.841 300.887 181.915 301.792 182.014 302.734C180.75 302.685 179.325 302.66 177.738 302.66C176.151 302.635 174.738 302.623 173.499 302.623C172.954 302.623 172.247 302.623 171.379 302.623C170.536 302.623 169.619 302.635 168.628 302.66C167.636 302.66 166.632 302.672 165.616 302.697C164.599 302.697 163.632 302.71 162.715 302.734V301.991C163.558 301.941 164.19 301.842 164.612 301.693C165.058 301.544 165.355 301.247 165.504 300.801C165.653 300.355 165.727 299.685 165.727 298.793V280.349C165.727 279.431 165.653 278.762 165.504 278.341C165.355 277.894 165.058 277.597 164.612 277.448C164.19 277.275 163.558 277.176 162.715 277.151V276.407C163.632 276.432 164.599 276.457 165.616 276.481C166.632 276.481 167.636 276.494 168.628 276.519C169.619 276.519 170.536 276.519 171.379 276.519C172.247 276.519 172.954 276.519 173.499 276.519C174.639 276.519 175.928 276.519 177.366 276.519C178.829 276.494 180.13 276.457 181.271 276.407ZM174.875 289.124C174.875 289.124 174.875 289.248 174.875 289.496C174.875 289.744 174.875 289.868 174.875 289.868H168.07C168.07 289.868 168.07 289.744 168.07 289.496C168.07 289.248 168.07 289.124 168.07 289.124H174.875ZM175.953 284.216C175.854 285.629 175.804 286.707 175.804 287.451C175.829 288.195 175.842 288.877 175.842 289.496C175.842 290.116 175.854 290.798 175.879 291.542C175.904 292.285 175.966 293.364 176.065 294.777H175.209C175.11 293.983 174.986 293.215 174.838 292.471C174.714 291.703 174.416 291.083 173.945 290.612C173.499 290.116 172.73 289.868 171.64 289.868V289.124C172.458 289.124 173.077 288.963 173.499 288.641C173.945 288.294 174.267 287.86 174.466 287.34C174.664 286.819 174.8 286.286 174.875 285.741C174.949 285.17 175.024 284.662 175.098 284.216H175.953ZM185.375 276.407C185.896 276.432 186.577 276.457 187.42 276.481C188.263 276.506 189.094 276.519 189.912 276.519C191.077 276.519 192.192 276.506 193.258 276.481C194.324 276.457 195.08 276.444 195.527 276.444C197.535 276.444 199.196 276.729 200.51 277.299C201.848 277.87 202.84 278.651 203.484 279.642C204.154 280.609 204.488 281.7 204.488 282.915C204.488 283.658 204.34 284.452 204.042 285.294C203.745 286.137 203.224 286.931 202.48 287.674C201.761 288.418 200.77 289.038 199.506 289.534C198.241 290.005 196.642 290.24 194.709 290.24H191.139V289.496H194.337C196.097 289.496 197.436 289.224 198.353 288.678C199.295 288.108 199.927 287.364 200.249 286.447C200.596 285.505 200.77 284.464 200.77 283.324C200.77 281.365 200.299 279.853 199.357 278.787C198.44 277.696 196.853 277.151 194.597 277.151C193.457 277.151 192.713 277.361 192.366 277.783C192.019 278.204 191.845 279.06 191.845 280.349V298.793C191.845 299.685 191.92 300.355 192.068 300.801C192.217 301.247 192.502 301.544 192.924 301.693C193.37 301.842 194.014 301.941 194.857 301.991V302.734C194.287 302.685 193.568 302.66 192.701 302.66C191.858 302.635 191.002 302.623 190.135 302.623C189.168 302.623 188.263 302.635 187.42 302.66C186.577 302.66 185.896 302.685 185.375 302.734V301.991C186.218 301.941 186.85 301.842 187.271 301.693C187.718 301.544 188.015 301.247 188.164 300.801C188.313 300.355 188.387 299.685 188.387 298.793V280.349C188.387 279.431 188.313 278.762 188.164 278.341C188.015 277.894 187.718 277.597 187.271 277.448C186.85 277.275 186.218 277.176 185.375 277.151V276.407ZM191.288 289.608C192.626 289.657 193.68 289.719 194.448 289.794C195.217 289.843 195.837 289.893 196.308 289.943C196.803 289.992 197.274 290.054 197.721 290.128C199.382 290.401 200.572 290.909 201.29 291.653C202.034 292.372 202.58 293.5 202.927 295.037L203.856 298.83C204.104 299.921 204.352 300.714 204.6 301.21C204.873 301.681 205.282 301.904 205.827 301.879C206.248 301.854 206.596 301.718 206.868 301.47C207.166 301.222 207.476 300.887 207.798 300.466L208.356 300.875C207.835 301.644 207.29 302.239 206.72 302.66C206.174 303.057 205.393 303.255 204.377 303.255C203.46 303.255 202.654 302.982 201.96 302.437C201.266 301.892 200.745 300.826 200.398 299.239L199.58 295.52C199.357 294.454 199.096 293.537 198.799 292.769C198.526 291.975 198.13 291.356 197.609 290.909C197.113 290.463 196.37 290.24 195.378 290.24H191.362L191.288 289.608ZM209.487 276.407C210.008 276.432 210.69 276.457 211.533 276.481C212.376 276.506 213.206 276.519 214.024 276.519C215.189 276.519 216.305 276.506 217.371 276.481C218.437 276.457 219.193 276.444 219.639 276.444C221.647 276.444 223.308 276.729 224.622 277.299C225.961 277.87 226.952 278.651 227.597 279.642C228.266 280.609 228.601 281.7 228.601 282.915C228.601 283.658 228.452 284.452 228.155 285.294C227.857 286.137 227.337 286.931 226.593 287.674C225.874 288.418 224.882 289.038 223.618 289.534C222.354 290.005 220.755 290.24 218.821 290.24H215.251V289.496H218.449C220.209 289.496 221.548 289.224 222.465 288.678C223.407 288.108 224.039 287.364 224.362 286.447C224.709 285.505 224.882 284.464 224.882 283.324C224.882 281.365 224.411 279.853 223.469 278.787C222.552 277.696 220.965 277.151 218.71 277.151C217.569 277.151 216.825 277.361 216.478 277.783C216.131 278.204 215.958 279.06 215.958 280.349V298.793C215.958 299.685 216.032 300.355 216.181 300.801C216.33 301.247 216.615 301.544 217.036 301.693C217.482 301.842 218.127 301.941 218.97 301.991V302.734C218.4 302.685 217.681 302.66 216.813 302.66C215.97 302.635 215.115 302.623 214.247 302.623C213.28 302.623 212.376 302.635 211.533 302.66C210.69 302.66 210.008 302.685 209.487 302.734V301.991C210.33 301.941 210.963 301.842 211.384 301.693C211.83 301.544 212.128 301.247 212.276 300.801C212.425 300.355 212.5 299.685 212.5 298.793V280.349C212.5 279.431 212.425 278.762 212.276 278.341C212.128 277.894 211.83 277.597 211.384 277.448C210.963 277.275 210.33 277.176 209.487 277.151V276.407ZM215.4 289.608C216.739 289.657 217.792 289.719 218.561 289.794C219.329 289.843 219.949 289.893 220.42 289.943C220.916 289.992 221.387 290.054 221.833 290.128C223.494 290.401 224.684 290.909 225.403 291.653C226.147 292.372 226.692 293.5 227.039 295.037L227.969 298.83C228.217 299.921 228.464 300.714 228.712 301.21C228.985 301.681 229.394 301.904 229.94 301.879C230.361 301.854 230.708 301.718 230.981 301.47C231.278 301.222 231.588 300.887 231.91 300.466L232.468 300.875C231.948 301.644 231.402 302.239 230.832 302.66C230.287 303.057 229.506 303.255 228.489 303.255C227.572 303.255 226.766 302.982 226.072 302.437C225.378 301.892 224.858 300.826 224.51 299.239L223.692 295.52C223.469 294.454 223.209 293.537 222.911 292.769C222.639 291.975 222.242 291.356 221.722 290.909C221.226 290.463 220.482 290.24 219.49 290.24H215.474L215.4 289.608ZM245.834 275.886C248.189 275.886 250.247 276.419 252.007 277.485C253.792 278.551 255.168 280.088 256.134 282.096C257.126 284.08 257.622 286.497 257.622 289.348C257.622 292.124 257.114 294.554 256.097 296.636C255.106 298.718 253.717 300.342 251.932 301.507C250.148 302.672 248.102 303.255 245.797 303.255C243.442 303.255 241.372 302.722 239.587 301.656C237.827 300.59 236.451 299.053 235.459 297.045C234.492 295.037 234.009 292.62 234.009 289.794C234.009 287.017 234.517 284.588 235.534 282.505C236.55 280.423 237.938 278.799 239.698 277.634C241.483 276.469 243.528 275.886 245.834 275.886ZM245.685 276.556C244.074 276.556 242.673 277.114 241.483 278.229C240.293 279.345 239.364 280.882 238.694 282.84C238.05 284.799 237.728 287.067 237.728 289.645C237.728 292.273 238.087 294.566 238.806 296.524C239.55 298.458 240.541 299.958 241.781 301.024C243.045 302.065 244.433 302.586 245.946 302.586C247.557 302.586 248.958 302.028 250.148 300.912C251.337 299.797 252.255 298.26 252.899 296.301C253.569 294.318 253.903 292.05 253.903 289.496C253.903 286.844 253.531 284.551 252.788 282.617C252.069 280.683 251.09 279.196 249.85 278.155C248.611 277.089 247.222 276.556 245.685 276.556ZM260.872 276.407C261.392 276.432 262.074 276.457 262.917 276.481C263.76 276.506 264.59 276.519 265.408 276.519C266.574 276.519 267.689 276.506 268.755 276.481C269.821 276.457 270.577 276.444 271.023 276.444C273.031 276.444 274.692 276.729 276.006 277.299C277.345 277.87 278.337 278.651 278.981 279.642C279.65 280.609 279.985 281.7 279.985 282.915C279.985 283.658 279.836 284.452 279.539 285.294C279.241 286.137 278.721 286.931 277.977 287.674C277.258 288.418 276.267 289.038 275.002 289.534C273.738 290.005 272.139 290.24 270.205 290.24H266.636V289.496H269.833C271.594 289.496 272.932 289.224 273.849 288.678C274.792 288.108 275.424 287.364 275.746 286.447C276.093 285.505 276.267 284.464 276.267 283.324C276.267 281.365 275.796 279.853 274.854 278.787C273.936 277.696 272.35 277.151 270.094 277.151C268.953 277.151 268.21 277.361 267.863 277.783C267.516 278.204 267.342 279.06 267.342 280.349V298.793C267.342 299.685 267.416 300.355 267.565 300.801C267.714 301.247 267.999 301.544 268.42 301.693C268.867 301.842 269.511 301.941 270.354 301.991V302.734C269.784 302.685 269.065 302.66 268.197 302.66C267.354 302.635 266.499 302.623 265.632 302.623C264.665 302.623 263.76 302.635 262.917 302.66C262.074 302.66 261.392 302.685 260.872 302.734V301.991C261.715 301.941 262.347 301.842 262.768 301.693C263.214 301.544 263.512 301.247 263.661 300.801C263.809 300.355 263.884 299.685 263.884 298.793V280.349C263.884 279.431 263.809 278.762 263.661 278.341C263.512 277.894 263.214 277.597 262.768 277.448C262.347 277.275 261.715 277.176 260.872 277.151V276.407ZM266.784 289.608C268.123 289.657 269.177 289.719 269.945 289.794C270.714 289.843 271.333 289.893 271.804 289.943C272.3 289.992 272.771 290.054 273.217 290.128C274.878 290.401 276.068 290.909 276.787 291.653C277.531 292.372 278.076 293.5 278.423 295.037L279.353 298.83C279.601 299.921 279.849 300.714 280.097 301.21C280.369 301.681 280.778 301.904 281.324 301.879C281.745 301.854 282.092 301.718 282.365 301.47C282.662 301.222 282.972 300.887 283.295 300.466L283.852 300.875C283.332 301.644 282.786 302.239 282.216 302.66C281.671 303.057 280.89 303.255 279.874 303.255C278.956 303.255 278.151 302.982 277.456 302.437C276.762 301.892 276.242 300.826 275.895 299.239L275.077 295.52C274.854 294.454 274.593 293.537 274.296 292.769C274.023 291.975 273.626 291.356 273.106 290.909C272.61 290.463 271.866 290.24 270.875 290.24H266.859L266.784 289.608Z"
						fill="#262626"
						class="fill-neutral-800 dark:fill-neutral-100"></path>
					<path
						d="M387.642 155.835V144.796"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M379.936 159.027L372.131 151.221"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M376.745 166.733H365.706"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M379.936 174.438L372.131 182.244"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M387.642 177.63V188.669"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M395.348 174.438L403.154 182.244"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M398.54 166.733H409.579"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M395.348 159.027L403.154 151.221"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M41.4141 210.8V202.821"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M35.8432 213.108L30.2012 207.466"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M33.5366 218.679H25.5576"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M35.8432 224.248L30.2012 229.89"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M41.4141 226.556V234.535"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M46.9834 224.248L52.6254 229.89"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M49.291 218.679H57.271"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M46.9834 213.108L52.6254 207.466"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M257.337 45.9888V38.0088"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M251.766 48.2958L246.124 42.6538"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M249.459 53.8657H241.48"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M251.766 59.4355L246.124 65.0776"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M257.337 61.7427V69.7217"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M262.906 59.4355L268.548 65.0776"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M265.214 53.8657H273.193"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M262.906 48.2958L268.548 42.6538"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M354.788 267.629H81.0273V310.727H354.788V267.629Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.4187"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M122.552 336.215V327.928H119.206V327H126.982V327.928H123.636V336.215H122.552ZM128.009 336.215V327H129.068V331.274H128.898C129.081 330.769 129.377 330.39 129.787 330.137C130.205 329.876 130.684 329.745 131.224 329.745C131.73 329.745 132.148 329.837 132.479 330.02C132.819 330.203 133.072 330.481 133.237 330.856C133.403 331.222 133.485 331.688 133.485 332.255V336.215H132.427V332.32C132.427 331.928 132.374 331.605 132.27 331.353C132.174 331.1 132.017 330.913 131.799 330.791C131.59 330.669 131.316 330.608 130.976 330.608C130.593 330.608 130.257 330.691 129.97 330.856C129.682 331.022 129.46 331.253 129.303 331.549C129.146 331.845 129.068 332.194 129.068 332.594V336.215H128.009ZM138.3 336.332C137.629 336.332 137.049 336.202 136.562 335.94C136.082 335.67 135.708 335.291 135.438 334.803C135.176 334.315 135.045 333.732 135.045 333.052C135.045 332.39 135.176 331.815 135.438 331.327C135.699 330.83 136.056 330.442 136.509 330.163C136.971 329.885 137.503 329.745 138.104 329.745C138.679 329.745 139.171 329.872 139.581 330.124C139.99 330.377 140.304 330.734 140.522 331.196C140.748 331.658 140.862 332.211 140.862 332.856V333.261H135.856V332.568H140.156L139.947 332.738C139.947 332.041 139.79 331.501 139.476 331.118C139.171 330.725 138.722 330.529 138.13 330.529C137.686 330.529 137.307 330.634 136.993 330.843C136.688 331.043 136.457 331.327 136.3 331.693C136.143 332.05 136.065 332.468 136.065 332.947V333.026C136.065 333.557 136.148 334.006 136.313 334.372C136.487 334.738 136.745 335.017 137.084 335.208C137.424 335.391 137.829 335.483 138.3 335.483C138.675 335.483 139.036 335.426 139.385 335.313C139.742 335.191 140.077 334.995 140.391 334.725L140.757 335.47C140.469 335.731 140.104 335.94 139.659 336.097C139.215 336.254 138.762 336.332 138.3 336.332ZM145.751 336.215V329.863H146.783V331.366H146.652C146.801 330.852 147.058 330.464 147.424 330.203C147.789 329.933 148.273 329.776 148.874 329.732L149.253 329.693L149.332 330.608L148.665 330.686C148.073 330.739 147.615 330.93 147.293 331.261C146.979 331.584 146.822 332.028 146.822 332.594V336.215H145.751ZM153.221 336.332C152.55 336.332 151.97 336.202 151.482 335.94C151.003 335.67 150.628 335.291 150.358 334.803C150.097 334.315 149.966 333.732 149.966 333.052C149.966 332.39 150.097 331.815 150.358 331.327C150.62 330.83 150.977 330.442 151.43 330.163C151.892 329.885 152.423 329.745 153.025 329.745C153.6 329.745 154.092 329.872 154.501 330.124C154.911 330.377 155.225 330.734 155.442 331.196C155.669 331.658 155.782 332.211 155.782 332.856V333.261H150.776V332.568H155.077L154.867 332.738C154.867 332.041 154.711 331.501 154.397 331.118C154.092 330.725 153.643 330.529 153.051 330.529C152.606 330.529 152.227 330.634 151.914 330.843C151.609 331.043 151.378 331.327 151.221 331.693C151.064 332.05 150.986 332.468 150.986 332.947V333.026C150.986 333.557 151.068 334.006 151.234 334.372C151.408 334.738 151.665 335.017 152.005 335.208C152.345 335.391 152.75 335.483 153.221 335.483C153.595 335.483 153.957 335.426 154.305 335.313C154.663 335.191 154.998 334.995 155.312 334.725L155.678 335.47C155.39 335.731 155.024 335.94 154.58 336.097C154.135 336.254 153.682 336.332 153.221 336.332ZM161.889 338.567V334.725H162.033C161.893 335.213 161.619 335.605 161.209 335.901C160.8 336.189 160.307 336.332 159.732 336.332C159.166 336.332 158.669 336.197 158.242 335.927C157.824 335.657 157.497 335.278 157.262 334.79C157.036 334.294 156.922 333.71 156.922 333.039C156.922 332.359 157.036 331.775 157.262 331.287C157.497 330.791 157.824 330.412 158.242 330.15C158.669 329.88 159.166 329.745 159.732 329.745C160.307 329.745 160.8 329.893 161.209 330.19C161.628 330.477 161.906 330.869 162.046 331.366H161.915V329.863H162.948V338.567H161.889ZM159.955 335.483C160.556 335.483 161.031 335.274 161.379 334.856C161.736 334.429 161.915 333.823 161.915 333.039C161.915 332.246 161.736 331.64 161.379 331.222C161.031 330.804 160.556 330.595 159.955 330.595C159.362 330.595 158.887 330.804 158.53 331.222C158.173 331.64 157.994 332.246 157.994 333.039C157.994 333.823 158.173 334.429 158.53 334.856C158.887 335.274 159.362 335.483 159.955 335.483ZM167.182 336.332C166.668 336.332 166.241 336.241 165.902 336.058C165.57 335.866 165.318 335.583 165.143 335.208C164.978 334.834 164.895 334.368 164.895 333.81V329.863H165.954V333.797C165.954 334.172 166.002 334.485 166.098 334.738C166.202 334.982 166.363 335.165 166.581 335.287C166.799 335.4 167.069 335.457 167.392 335.457C167.757 335.457 168.076 335.374 168.346 335.208C168.616 335.043 168.829 334.812 168.986 334.516C169.143 334.219 169.221 333.871 169.221 333.47V329.863H170.28V336.215H169.247V334.751H169.417C169.243 335.265 168.956 335.657 168.555 335.927C168.163 336.197 167.705 336.332 167.182 336.332ZM175.123 336.332C174.452 336.332 173.873 336.202 173.385 335.94C172.905 335.67 172.531 335.291 172.261 334.803C171.999 334.315 171.869 333.732 171.869 333.052C171.869 332.39 171.999 331.815 172.261 331.327C172.522 330.83 172.879 330.442 173.332 330.163C173.794 329.885 174.326 329.745 174.927 329.745C175.502 329.745 175.994 329.872 176.404 330.124C176.813 330.377 177.127 330.734 177.345 331.196C177.571 331.658 177.685 332.211 177.685 332.856V333.261H172.679V332.568H176.979L176.77 332.738C176.77 332.041 176.613 331.501 176.299 331.118C175.994 330.725 175.546 330.529 174.953 330.529C174.509 330.529 174.13 330.634 173.816 330.843C173.511 331.043 173.28 331.327 173.123 331.693C172.966 332.05 172.888 332.468 172.888 332.947V333.026C172.888 333.557 172.971 334.006 173.136 334.372C173.311 334.738 173.568 335.017 173.908 335.208C174.247 335.391 174.653 335.483 175.123 335.483C175.498 335.483 175.859 335.426 176.208 335.313C176.565 335.191 176.901 334.995 177.214 334.725L177.58 335.47C177.293 335.731 176.927 335.94 176.482 336.097C176.038 336.254 175.585 336.332 175.123 336.332ZM181.36 336.332C181.029 336.332 180.707 336.298 180.393 336.228C180.088 336.167 179.801 336.08 179.531 335.967C179.269 335.845 179.043 335.701 178.851 335.535L179.191 334.79C179.4 334.956 179.626 335.095 179.87 335.208C180.114 335.313 180.363 335.391 180.615 335.444C180.868 335.496 181.125 335.522 181.387 335.522C181.883 335.522 182.258 335.431 182.511 335.248C182.763 335.065 182.89 334.816 182.89 334.503C182.89 334.259 182.807 334.067 182.641 333.928C182.476 333.779 182.214 333.666 181.857 333.588L180.668 333.326C180.119 333.213 179.709 333.017 179.439 332.738C179.178 332.459 179.047 332.098 179.047 331.653C179.047 331.261 179.147 330.926 179.348 330.647C179.557 330.359 179.849 330.137 180.223 329.98C180.598 329.824 181.034 329.745 181.53 329.745C181.827 329.745 182.11 329.776 182.38 329.837C182.65 329.898 182.903 329.989 183.138 330.111C183.382 330.224 183.591 330.368 183.765 330.542L183.412 331.287C183.247 331.131 183.059 331 182.85 330.895C182.641 330.782 182.423 330.699 182.197 330.647C181.979 330.586 181.757 330.556 181.53 330.556C181.042 330.556 180.672 330.651 180.419 330.843C180.167 331.035 180.04 331.287 180.04 331.601C180.04 331.845 180.119 332.046 180.276 332.202C180.432 332.359 180.676 332.472 181.008 332.542L182.197 332.791C182.763 332.912 183.186 333.109 183.465 333.379C183.752 333.64 183.896 333.997 183.896 334.45C183.896 334.834 183.791 335.169 183.582 335.457C183.373 335.736 183.077 335.953 182.694 336.11C182.319 336.258 181.874 336.332 181.36 336.332ZM187.994 336.332C187.245 336.332 186.683 336.132 186.308 335.731C185.934 335.33 185.746 334.76 185.746 334.019V330.686H184.505V329.863H185.746V327.915H186.805V329.863H188.818V330.686H186.805V333.915C186.805 334.411 186.909 334.79 187.119 335.052C187.328 335.304 187.667 335.431 188.138 335.431C188.277 335.431 188.417 335.413 188.556 335.378C188.696 335.344 188.822 335.309 188.935 335.274L189.118 336.084C189.005 336.145 188.839 336.202 188.622 336.254C188.404 336.306 188.195 336.332 187.994 336.332ZM192.813 336.332C192.143 336.332 191.563 336.202 191.075 335.94C190.596 335.67 190.221 335.291 189.951 334.803C189.69 334.315 189.559 333.732 189.559 333.052C189.559 332.39 189.69 331.815 189.951 331.327C190.213 330.83 190.57 330.442 191.023 330.163C191.485 329.885 192.016 329.745 192.617 329.745C193.193 329.745 193.685 329.872 194.094 330.124C194.504 330.377 194.818 330.734 195.035 331.196C195.262 331.658 195.375 332.211 195.375 332.856V333.261H190.369V332.568H194.669L194.46 332.738C194.46 332.041 194.303 331.501 193.99 331.118C193.685 330.725 193.236 330.529 192.644 330.529C192.199 330.529 191.82 330.634 191.506 330.843C191.202 331.043 190.971 331.327 190.814 331.693C190.657 332.05 190.579 332.468 190.579 332.947V333.026C190.579 333.557 190.661 334.006 190.827 334.372C191.001 334.738 191.258 335.017 191.598 335.208C191.938 335.391 192.343 335.483 192.813 335.483C193.188 335.483 193.55 335.426 193.898 335.313C194.256 335.191 194.591 334.995 194.905 334.725L195.271 335.47C194.983 335.731 194.617 335.94 194.173 336.097C193.728 336.254 193.275 336.332 192.813 336.332ZM199.325 336.332C198.759 336.332 198.262 336.197 197.835 335.927C197.417 335.657 197.09 335.278 196.855 334.79C196.629 334.294 196.515 333.71 196.515 333.039C196.515 332.359 196.629 331.775 196.855 331.287C197.09 330.791 197.417 330.412 197.835 330.15C198.262 329.88 198.759 329.745 199.325 329.745C199.9 329.745 200.393 329.889 200.802 330.177C201.212 330.464 201.486 330.852 201.626 331.34H201.482V327H202.541V336.215H201.508V334.699H201.639C201.499 335.195 201.22 335.592 200.802 335.888C200.393 336.184 199.9 336.332 199.325 336.332ZM199.547 335.483C200.149 335.483 200.624 335.274 200.972 334.856C201.329 334.429 201.508 333.823 201.508 333.039C201.508 332.246 201.329 331.64 200.972 331.222C200.624 330.804 200.149 330.595 199.547 330.595C198.955 330.595 198.48 330.804 198.123 331.222C197.766 331.64 197.587 332.246 197.587 333.039C197.587 333.823 197.766 334.429 198.123 334.856C198.48 335.274 198.955 335.483 199.547 335.483ZM207.884 338.567V329.863H208.917V331.366H208.786C208.925 330.869 209.2 330.477 209.609 330.19C210.028 329.893 210.524 329.745 211.099 329.745C211.666 329.745 212.158 329.88 212.576 330.15C213.003 330.412 213.33 330.791 213.557 331.287C213.792 331.775 213.909 332.359 213.909 333.039C213.909 333.71 213.792 334.294 213.557 334.79C213.33 335.278 213.008 335.657 212.589 335.927C212.171 336.197 211.674 336.332 211.099 336.332C210.524 336.332 210.032 336.189 209.622 335.901C209.213 335.605 208.934 335.213 208.786 334.725H208.943V338.567H207.884ZM210.877 335.483C211.478 335.483 211.953 335.274 212.302 334.856C212.659 334.429 212.838 333.823 212.838 333.039C212.838 332.246 212.659 331.64 212.302 331.222C211.953 330.804 211.478 330.595 210.877 330.595C210.285 330.595 209.81 330.804 209.453 331.222C209.095 331.64 208.917 332.246 208.917 333.039C208.917 333.823 209.095 334.429 209.453 334.856C209.81 335.274 210.285 335.483 210.877 335.483ZM217.504 336.332C217.068 336.332 216.676 336.25 216.327 336.084C215.988 335.91 215.718 335.675 215.517 335.378C215.317 335.082 215.216 334.751 215.216 334.385C215.216 333.915 215.334 333.544 215.569 333.274C215.813 333.004 216.21 332.812 216.759 332.699C217.316 332.586 218.074 332.529 219.033 332.529H219.621V333.222H219.046C218.514 333.222 218.07 333.239 217.713 333.274C217.356 333.309 217.072 333.37 216.863 333.457C216.654 333.544 216.506 333.657 216.419 333.797C216.332 333.936 216.288 334.111 216.288 334.32C216.288 334.677 216.41 334.969 216.654 335.195C216.907 335.422 217.247 335.535 217.674 335.535C218.022 335.535 218.327 335.452 218.589 335.287C218.859 335.121 219.068 334.895 219.216 334.607C219.373 334.32 219.451 333.989 219.451 333.614V332.124C219.451 331.584 219.342 331.196 219.124 330.961C218.907 330.717 218.549 330.595 218.053 330.595C217.669 330.595 217.299 330.651 216.942 330.765C216.584 330.869 216.219 331.043 215.844 331.287L215.478 330.516C215.704 330.359 215.961 330.224 216.249 330.111C216.537 329.989 216.837 329.898 217.151 329.837C217.465 329.776 217.765 329.745 218.053 329.745C218.602 329.745 219.055 329.837 219.412 330.02C219.769 330.194 220.035 330.464 220.209 330.83C220.383 331.187 220.471 331.649 220.471 332.215V336.215H219.477V334.738H219.595C219.525 335.069 219.39 335.352 219.19 335.587C218.998 335.823 218.758 336.006 218.471 336.136C218.183 336.267 217.861 336.332 217.504 336.332ZM225.245 338.685C224.696 338.685 224.177 338.611 223.689 338.463C223.21 338.323 222.783 338.11 222.409 337.822L222.761 337.051C223.023 337.234 223.28 337.382 223.533 337.496C223.794 337.618 224.06 337.705 224.33 337.757C224.609 337.809 224.896 337.836 225.192 337.836C225.811 337.836 226.277 337.67 226.591 337.339C226.913 337.008 227.075 336.529 227.075 335.901V334.424H227.205C227.075 334.93 226.796 335.33 226.369 335.627C225.951 335.923 225.458 336.071 224.892 336.071C224.308 336.071 223.803 335.94 223.376 335.679C222.949 335.409 222.618 335.034 222.382 334.555C222.156 334.076 222.043 333.522 222.043 332.895C222.043 332.268 222.156 331.719 222.382 331.248C222.618 330.769 222.949 330.399 223.376 330.137C223.803 329.876 224.308 329.745 224.892 329.745C225.467 329.745 225.964 329.893 226.382 330.19C226.8 330.477 227.07 330.869 227.192 331.366H227.075V329.863H228.107V335.757C228.107 336.402 227.998 336.942 227.78 337.378C227.571 337.814 227.253 338.14 226.826 338.358C226.399 338.576 225.872 338.685 225.245 338.685ZM225.088 335.208C225.698 335.208 226.181 334.999 226.539 334.581C226.896 334.163 227.075 333.601 227.075 332.895C227.075 332.189 226.896 331.632 226.539 331.222C226.181 330.804 225.698 330.595 225.088 330.595C224.487 330.595 224.007 330.804 223.65 331.222C223.293 331.632 223.114 332.189 223.114 332.895C223.114 333.601 223.293 334.163 223.65 334.581C224.007 334.999 224.487 335.208 225.088 335.208ZM232.955 336.332C232.284 336.332 231.705 336.202 231.217 335.94C230.738 335.67 230.363 335.291 230.093 334.803C229.832 334.315 229.701 333.732 229.701 333.052C229.701 332.39 229.832 331.815 230.093 331.327C230.354 330.83 230.712 330.442 231.165 330.163C231.626 329.885 232.158 329.745 232.759 329.745C233.334 329.745 233.827 329.872 234.236 330.124C234.646 330.377 234.959 330.734 235.177 331.196C235.404 331.658 235.517 332.211 235.517 332.856V333.261H230.511V332.568H234.811L234.602 332.738C234.602 332.041 234.445 331.501 234.132 331.118C233.827 330.725 233.378 330.529 232.785 330.529C232.341 330.529 231.962 330.634 231.648 330.843C231.343 331.043 231.112 331.327 230.956 331.693C230.799 332.05 230.72 332.468 230.72 332.947V333.026C230.72 333.557 230.803 334.006 230.969 334.372C231.143 334.738 231.4 335.017 231.74 335.208C232.08 335.391 232.485 335.483 232.955 335.483C233.33 335.483 233.692 335.426 234.04 335.313C234.397 335.191 234.733 334.995 235.046 334.725L235.412 335.47C235.125 335.731 234.759 335.94 234.315 336.097C233.87 336.254 233.417 336.332 232.955 336.332ZM242.824 336.332C242.258 336.332 241.761 336.197 241.334 335.927C240.916 335.657 240.589 335.278 240.354 334.79C240.127 334.294 240.014 333.71 240.014 333.039C240.014 332.359 240.127 331.775 240.354 331.287C240.589 330.791 240.916 330.412 241.334 330.15C241.761 329.88 242.258 329.745 242.824 329.745C243.399 329.745 243.891 329.889 244.301 330.177C244.71 330.464 244.985 330.852 245.124 331.34H244.98V327H246.039V336.215H245.007V334.699H245.137C244.998 335.195 244.719 335.592 244.301 335.888C243.891 336.184 243.399 336.332 242.824 336.332ZM243.046 335.483C243.647 335.483 244.122 335.274 244.471 334.856C244.828 334.429 245.007 333.823 245.007 333.039C245.007 332.246 244.828 331.64 244.471 331.222C244.122 330.804 243.647 330.595 243.046 330.595C242.454 330.595 241.979 330.804 241.621 331.222C241.264 331.64 241.086 332.246 241.086 333.039C241.086 333.823 241.264 334.429 241.621 334.856C241.979 335.274 242.454 335.483 243.046 335.483ZM250.666 336.332C250.047 336.332 249.511 336.197 249.058 335.927C248.605 335.657 248.252 335.278 248 334.79C247.756 334.294 247.634 333.71 247.634 333.039C247.634 332.368 247.756 331.788 248 331.301C248.252 330.804 248.605 330.42 249.058 330.15C249.511 329.88 250.047 329.745 250.666 329.745C251.285 329.745 251.821 329.88 252.274 330.15C252.727 330.42 253.075 330.804 253.319 331.301C253.572 331.788 253.698 332.368 253.698 333.039C253.698 333.71 253.572 334.294 253.319 334.79C253.075 335.278 252.727 335.657 252.274 335.927C251.821 336.197 251.285 336.332 250.666 336.332ZM250.666 335.483C251.267 335.483 251.742 335.274 252.091 334.856C252.448 334.429 252.627 333.819 252.627 333.026C252.627 332.242 252.448 331.64 252.091 331.222C251.742 330.804 251.267 330.595 250.666 330.595C250.074 330.595 249.599 330.804 249.241 331.222C248.884 331.64 248.706 332.242 248.706 333.026C248.706 333.819 248.884 334.429 249.241 334.856C249.599 335.274 250.074 335.483 250.666 335.483ZM258.151 336.332C257.48 336.332 256.9 336.202 256.412 335.94C255.933 335.67 255.559 335.291 255.288 334.803C255.027 334.315 254.896 333.732 254.896 333.052C254.896 332.39 255.027 331.815 255.288 331.327C255.55 330.83 255.907 330.442 256.36 330.163C256.822 329.885 257.353 329.745 257.955 329.745C258.53 329.745 259.022 329.872 259.432 330.124C259.841 330.377 260.155 330.734 260.373 331.196C260.599 331.658 260.712 332.211 260.712 332.856V333.261H255.707V332.568H260.007L259.798 332.738C259.798 332.041 259.641 331.501 259.327 331.118C259.022 330.725 258.573 330.529 257.981 330.529C257.536 330.529 257.157 330.634 256.844 330.843C256.539 331.043 256.308 331.327 256.151 331.693C255.994 332.05 255.916 332.468 255.916 332.947V333.026C255.916 333.557 255.999 334.006 256.164 334.372C256.338 334.738 256.595 335.017 256.935 335.208C257.275 335.391 257.68 335.483 258.151 335.483C258.525 335.483 258.887 335.426 259.236 335.313C259.593 335.191 259.928 334.995 260.242 334.725L260.608 335.47C260.32 335.731 259.954 335.94 259.51 336.097C259.066 336.254 258.613 336.332 258.151 336.332ZM264.388 336.332C264.057 336.332 263.735 336.298 263.421 336.228C263.116 336.167 262.828 336.08 262.558 335.967C262.297 335.845 262.07 335.701 261.879 335.535L262.218 334.79C262.428 334.956 262.654 335.095 262.898 335.208C263.142 335.313 263.39 335.391 263.643 335.444C263.896 335.496 264.153 335.522 264.414 335.522C264.911 335.522 265.286 335.431 265.538 335.248C265.791 335.065 265.917 334.816 265.917 334.503C265.917 334.259 265.834 334.067 265.669 333.928C265.503 333.779 265.242 333.666 264.885 333.588L263.695 333.326C263.146 333.213 262.737 333.017 262.467 332.738C262.205 332.459 262.075 332.098 262.075 331.653C262.075 331.261 262.175 330.926 262.375 330.647C262.584 330.359 262.876 330.137 263.251 329.98C263.626 329.824 264.061 329.745 264.558 329.745C264.854 329.745 265.137 329.776 265.408 329.837C265.678 329.898 265.93 329.989 266.166 330.111C266.41 330.224 266.619 330.368 266.793 330.542L266.44 331.287C266.275 331.131 266.087 331 265.878 330.895C265.669 330.782 265.451 330.699 265.225 330.647C265.007 330.586 264.785 330.556 264.558 330.556C264.07 330.556 263.7 330.651 263.447 330.843C263.194 331.035 263.068 331.287 263.068 331.601C263.068 331.845 263.146 332.046 263.303 332.202C263.46 332.359 263.704 332.472 264.035 332.542L265.225 332.791C265.791 332.912 266.214 333.109 266.492 333.379C266.78 333.64 266.924 333.997 266.924 334.45C266.924 334.834 266.819 335.169 266.61 335.457C266.401 335.736 266.105 335.953 265.721 336.11C265.347 336.258 264.902 336.332 264.388 336.332ZM271.894 336.215V329.863H272.926V331.274H272.783C272.966 330.769 273.262 330.39 273.671 330.137C274.09 329.876 274.569 329.745 275.109 329.745C275.615 329.745 276.033 329.837 276.364 330.02C276.704 330.194 276.956 330.468 277.122 330.843C277.287 331.218 277.37 331.688 277.37 332.255V336.215H276.312V332.32C276.312 331.928 276.259 331.605 276.155 331.353C276.059 331.1 275.902 330.913 275.684 330.791C275.475 330.669 275.201 330.608 274.861 330.608C274.477 330.608 274.142 330.691 273.854 330.856C273.567 331.022 273.345 331.253 273.188 331.549C273.031 331.845 272.953 332.194 272.953 332.594V336.215H271.894ZM281.963 336.332C281.344 336.332 280.808 336.197 280.355 335.927C279.902 335.657 279.549 335.278 279.296 334.79C279.052 334.294 278.93 333.71 278.93 333.039C278.93 332.368 279.052 331.788 279.296 331.301C279.549 330.804 279.902 330.42 280.355 330.15C280.808 329.88 281.344 329.745 281.963 329.745C282.581 329.745 283.117 329.88 283.57 330.15C284.023 330.42 284.372 330.804 284.616 331.301C284.868 331.788 284.995 332.368 284.995 333.039C284.995 333.71 284.868 334.294 284.616 334.79C284.372 335.278 284.023 335.657 283.57 335.927C283.117 336.197 282.581 336.332 281.963 336.332ZM281.963 335.483C282.564 335.483 283.039 335.274 283.387 334.856C283.744 334.429 283.923 333.819 283.923 333.026C283.923 332.242 283.744 331.64 283.387 331.222C283.039 330.804 282.564 330.595 281.963 330.595C281.37 330.595 280.895 330.804 280.538 331.222C280.181 331.64 280.002 332.242 280.002 333.026C280.002 333.819 280.181 334.429 280.538 334.856C280.895 335.274 281.37 335.483 281.963 335.483ZM289.07 336.332C288.32 336.332 287.758 336.132 287.384 335.731C287.009 335.33 286.822 334.76 286.822 334.019V330.686H285.58V329.863H286.822V327.915H287.88V329.863H289.893V330.686H287.88V333.915C287.88 334.411 287.985 334.79 288.194 335.052C288.403 335.304 288.743 335.431 289.214 335.431C289.353 335.431 289.492 335.413 289.632 335.378C289.771 335.344 289.898 335.309 290.011 335.274L290.194 336.084C290.081 336.145 289.915 336.202 289.697 336.254C289.479 336.306 289.27 336.332 289.07 336.332ZM297.31 336.332C296.639 336.332 296.059 336.202 295.571 335.94C295.092 335.67 294.717 335.291 294.447 334.803C294.186 334.315 294.055 333.732 294.055 333.052C294.055 332.39 294.186 331.815 294.447 331.327C294.709 330.83 295.066 330.442 295.519 330.163C295.981 329.885 296.512 329.745 297.114 329.745C297.689 329.745 298.181 329.872 298.591 330.124C299 330.377 299.314 330.734 299.532 331.196C299.758 331.658 299.871 332.211 299.871 332.856V333.261H294.866V332.568H299.166L298.956 332.738C298.956 332.041 298.8 331.501 298.486 331.118C298.181 330.725 297.732 330.529 297.14 330.529C296.695 330.529 296.316 330.634 296.003 330.843C295.698 331.043 295.467 331.327 295.31 331.693C295.153 332.05 295.075 332.468 295.075 332.947V333.026C295.075 333.557 295.157 334.006 295.323 334.372C295.497 334.738 295.754 335.017 296.094 335.208C296.434 335.391 296.839 335.483 297.31 335.483C297.684 335.483 298.046 335.426 298.394 335.313C298.752 335.191 299.087 334.995 299.401 334.725L299.767 335.47C299.479 335.731 299.113 335.94 298.669 336.097C298.225 336.254 297.771 336.332 297.31 336.332ZM300.542 336.215L303.391 332.66V333.209L300.699 329.863H301.954L303.98 332.438H303.614L305.653 329.863H306.894L304.215 333.183V332.699L307.051 336.215H305.796L303.601 333.457H303.98L301.797 336.215H300.542ZM308.089 328.281V327.092H309.396V328.281H308.089ZM308.219 336.215V329.863H309.278V336.215H308.219ZM313.401 336.332C313.069 336.332 312.747 336.298 312.433 336.228C312.128 336.167 311.841 336.08 311.571 335.967C311.309 335.845 311.083 335.701 310.891 335.535L311.231 334.79C311.44 334.956 311.667 335.095 311.911 335.208C312.155 335.313 312.403 335.391 312.656 335.444C312.908 335.496 313.165 335.522 313.427 335.522C313.923 335.522 314.298 335.431 314.551 335.248C314.803 335.065 314.93 334.816 314.93 334.503C314.93 334.259 314.847 334.067 314.681 333.928C314.516 333.779 314.254 333.666 313.897 333.588L312.708 333.326C312.159 333.213 311.749 333.017 311.479 332.738C311.218 332.459 311.087 332.098 311.087 331.653C311.087 331.261 311.187 330.926 311.388 330.647C311.597 330.359 311.889 330.137 312.263 329.98C312.638 329.824 313.074 329.745 313.57 329.745C313.867 329.745 314.15 329.776 314.42 329.837C314.69 329.898 314.943 329.989 315.178 330.111C315.422 330.224 315.631 330.368 315.805 330.542L315.453 331.287C315.287 331.131 315.1 331 314.891 330.895C314.681 330.782 314.464 330.699 314.237 330.647C314.019 330.586 313.797 330.556 313.57 330.556C313.083 330.556 312.712 330.651 312.46 330.843C312.207 331.035 312.081 331.287 312.081 331.601C312.081 331.845 312.159 332.046 312.316 332.202C312.473 332.359 312.717 332.472 313.048 332.542L314.237 332.791C314.803 332.912 315.226 333.109 315.505 333.379C315.792 333.64 315.936 333.997 315.936 334.45C315.936 334.834 315.832 335.169 315.622 335.457C315.413 335.736 315.117 335.953 314.734 336.11C314.359 336.258 313.915 336.332 313.401 336.332ZM320.034 336.332C319.285 336.332 318.723 336.132 318.348 335.731C317.974 335.33 317.786 334.76 317.786 334.019V330.686H316.545V329.863H317.786V327.915H318.845V329.863H320.858V330.686H318.845V333.915C318.845 334.411 318.95 334.79 319.159 335.052C319.368 335.304 319.708 335.431 320.178 335.431C320.318 335.431 320.457 335.413 320.596 335.378C320.736 335.344 320.862 335.309 320.975 335.274L321.158 336.084C321.045 336.145 320.88 336.202 320.662 336.254C320.444 336.306 320.235 336.332 320.034 336.332ZM322.064 336.215V334.882H323.397V336.215H322.064Z"
						fill="#262626"
						class="fill-neutral-800 dark:fill-neutral-100"></path>
					<path
						d="M102.361 112.933V78.4038H281.854V155.124"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M218.589 53.8657V97.0957H337.617V116.764"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M106.644 117.216C106.644 119.582 104.726 121.499 102.361 121.499C99.9951 121.499 98.0781 119.581 98.0781 117.216C98.0781 114.851 99.9961 112.933 102.361 112.933C104.727 112.933 106.644 114.85 106.644 117.216Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M218.589 53.8658C220.954 53.8658 222.872 51.9482 222.872 49.5828C222.872 47.2174 220.954 45.2998 218.589 45.2998C216.223 45.2998 214.306 47.2174 214.306 49.5828C214.306 51.9482 216.223 53.8658 218.589 53.8658Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M341.9 121.499C341.9 123.864 339.982 125.782 337.617 125.782C335.251 125.782 333.334 123.864 333.334 121.499C333.334 119.133 335.252 117.216 337.617 117.216C339.982 117.216 341.9 119.134 341.9 121.499Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M286.137 160.117C286.137 162.482 284.219 164.4 281.854 164.4C279.489 164.4 277.571 162.482 277.571 160.117C277.571 157.751 279.489 155.834 281.854 155.834C284.219 155.834 286.137 157.752 286.137 160.117Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M74.4484 245.898L64.3145 256.032"
						class="stroke-secondary-500"
						stroke="#8C55FD"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M64.3145 245.898L74.4484 256.032"
						class="stroke-secondary-500"
						stroke="#8C55FD"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M79.5149 98.7349L69.3809 108.87"
						class="stroke-secondary-500"
						stroke="#8C55FD"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M69.3809 98.7349L79.5149 108.87"
						class="stroke-secondary-500"
						stroke="#8C55FD"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M408.221 213.61L398.086 223.745"
						class="stroke-secondary-500"
						stroke="#8C55FD"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M398.086 213.61L408.221 223.745"
						class="stroke-secondary-500"
						stroke="#8C55FD"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M120.623 40.8957C117.391 40.8957 114.433 42.0587 112.136 43.9847C109.79 36.9227 103.142 31.8247 95.2934 31.8247C86.5064 31.8247 79.2284 38.2137 77.8064 46.5957C76.8804 46.3307 75.9054 46.1797 74.8934 46.1797C69.0504 46.1797 64.3145 50.9167 64.3145 56.7587C64.3145 62.1337 68.3264 66.5617 73.5164 67.2387V67.3387H120.623C127.925 67.3387 133.845 61.4197 133.845 54.1167C133.845 46.8157 127.925 40.8957 120.623 40.8957Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.2614"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M365.758 108.152C368.106 108.152 370.255 108.997 371.924 110.396C373.628 105.266 378.458 101.562 384.16 101.562C390.544 101.562 395.831 106.204 396.864 112.293C397.537 112.1 398.245 111.991 398.98 111.991C403.225 111.991 406.666 115.432 406.666 119.677C406.666 123.582 403.752 126.799 399.981 127.29V127.362H365.759C360.454 127.362 356.154 123.061 356.154 117.757C356.154 112.453 360.453 108.152 365.758 108.152Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M412.942 289.847C410.973 289.847 409.171 290.556 407.771 291.729C406.342 287.427 402.291 284.32 397.509 284.32C392.155 284.32 387.721 288.213 386.855 293.32C386.291 293.159 385.697 293.067 385.08 293.067C381.52 293.067 378.634 295.953 378.634 299.513C378.634 302.788 381.078 305.486 384.241 305.898V305.959H412.941C417.39 305.959 420.997 302.353 420.997 297.904C420.997 293.454 417.391 289.847 412.942 289.847Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M23.4058 272.849C25.7538 272.849 27.9028 273.694 29.5718 275.093C31.2758 269.963 36.1058 266.259 41.8078 266.259C48.1918 266.259 53.4788 270.901 54.5118 276.99C55.1848 276.797 55.8928 276.688 56.6278 276.688C60.8728 276.688 64.3138 280.129 64.3138 284.374C64.3138 288.279 61.3998 291.496 57.6288 291.987V292.059H23.4058C18.1008 292.059 13.8008 287.759 13.8008 282.454C13.8008 277.149 18.1008 272.849 23.4058 272.849Z"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M133.845 34.5527C133.845 34.5527 194.285 -14.7244 276.405 7.97765C362.668 31.8246 379.936 93.3347 379.936 93.3347"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-dasharray="3.27 7.62"></path>
					<path
						d="M42.5864 177.774C19.1554 181.408 7.37635 231.137 33.7324 250.878"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.0166"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-dasharray="3.05 7.11"></path>
					<path
						d="M337.617 321.261C337.617 321.261 377.755 338.807 395.349 314.328"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-dasharray="3.27 7.62"></path>
					<path
						d="M146.666 121.499V96.1528"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M140.548 121.499V108.87"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M239.823 127.363V108.826"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M232.873 125.782V118.094"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M226.707 125.782V112.933"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M152.547 121.499V108.826"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M320.548 125.026V119.356"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M314.43 125.027V111.217"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M326.429 125.027V115.163"
						class="stroke-neutral-800 dark:stroke-neutral-100"
						stroke="#262626"
						stroke-width="2.1628"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
			</Col>
			<Col span="2" />
		</Row>
		<Row flex classes="text-center items-center justify-center mt-12">
			<Col span="2" />
			<Col span="8">
				<Button link="/"> Return to homepage </Button>
			</Col>
			<Col span="2" />
		</Row>
	</Section>
</Layout>
