---
// Home page CTA Section
// ------------
// Description:

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-image.png'
---

<Section id="intro" classes="!overflow-visible !pt-[240px]">
	<Row>
		<Col span="2" />
		<Col span="10">
			<Image
				src={heroImage}
				alt="Milo Astro Theme"
				class="absolute -left-40 -top-40 md:-left-60 md:-top-48"
				format="webp"
			/>
			<div class="relative z-10 text-left">
				<h1
					class="w-initial text-left text-4xl leading-[60px] opacity-80 md:text-8xl md:leading-[120px]"
				>
					I’m Milo <br /> I build <br /> for the web.
				</h1>

				<p
					class="flex flex-row flex-wrap gap-6 font-headings text-neutral-600 transition-colors duration-300 lg:flex-nowrap dark:text-neutral-300 [&_a]:text-neutral-600 dark:[&_a]:text-neutral-300"
				>
					<a href="mailto:milo@studio.com">milo@studio.com</a>
					<a href="tel:+13235550198">+1 (323) 555-0198</a>
					<span>Remote Friendly</span>
					<a href="#">@milo.design</a>
				</p>
			</div>
		</Col>
	</Row>
</Section>
