---
// List
// ------------
// Description: the list component is a ui element that displays a list of items in a vertical order.
// Properties:
// - Type: the type of the list (basic, checklist)
// - ListItems: the list items of the list
// - classes: additional classes
// - listColor: the color of the marker (primary, neutral, white)

// Components
// - UI
import { Icon } from 'astro-icon/components'

// Props
type Props = {
	type?: 'basic' | 'none'
	listItems: Array<any>
	classes?: string
	listColor?: 'primary' | 'neutral'
}
const { type = 'basic', listColor = 'neutral', listItems, classes } = Astro.props
---

<ul
	class:list={[
		'list',
		{ ['list--' + `${type}`]: type },
		{ ['list--' + `${listColor}`]: listColor },
		{ [`${classes}`]: classes }
	]}
>
	{listItems.map((item) => <li>{item.listItem}</li>)}
</ul>

<style>
	.list li {
		@apply mb-2 ml-4 list-disc text-neutral-400;
	}
	.list--none {
		@apply [&_li]:list-none;
	}
	.list--primary {
		@apply [&_li]:marker:text-primary-500;
	}
	.list--neutral {
		@apply [&_li]:marker:text-white;
	}
</style>
