---
// Theme Switcher
// ------------
// Description: the theme switcher component is a ui element that allows users to switch between light and dark mode.
import { Icon } from 'astro-icon/components'
---

<div id="theme-selector">
	<Icon name="moon" class="hidden size-5 stroke-current dark:block" />
	<Icon name="sun" class="block size-5 stroke-current dark:hidden" />
</div>

<style>
	#theme-selector {
		@apply order-3 flex h-full w-12 cursor-pointer items-center justify-center text-neutral-600 dark:text-neutral-50;
	}
</style>
